<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    

    
    
    <div class="login-container">
        <div class="login-box">
            <h2>Sign In</h2>
            <form action="/user/signin" method="post">
                <input type="email" name="email" placeholder="Enter Email" class="login-input">
                <input type="password" name="password" placeholder="Enter Password" class="login-input">
                
                <div class="social-login">
                    <button class="google-btn"><i class="fa-brands fa-google"></i>Google</button>
                    <button class="instagram-btn" ><i class="fab fa-instagram"></i> Instagram</button>
                </div>
                
                <p class="signup-text" >Not Registered yet? <a href="/user/signup">Sign Up</a></p>
                
                <button class="login-btn" type="submit">Sign In</button>
            </form>
        </div>
    </div>


    <!-- Font Awesome for icons -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    
</body>
</html>
